<!doctype html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/css/site.css">
        <link rel="stylesheet" type = "text/css" href="/static/css/bootstrap.css"/>
    </head>
<body>

<div id="app_container" class="container">
    
    <template id = "welcome_message">
        <div id="welcome_div" class = "position_outer_center">        
            <h1>Info Sessions 2.0</h1>
            <p>
            Stay up to date with all your UWaterloo info sessions. 
            </p>
            <div id = "input_div">
	            <ul class = "list-inline" id = "left">
		            <li id = "listname">
		            Faculty:
		            </li>
		            <li>
		                <input type="text" name="faculty" id= "faculty">
		            </li>
		            <li>
		                (eng-software,eng-computer)
		            </li>
	        	</ul>

	        	<ul class = "list-inline" id = "left">
		            <li id = "listname">
		            Level:
		            </li>
		            <li>
		                <select id = "level_dropdown" class = "styled-dropdown-select"> 
		                	<option default></option>
		                    <option>senior</option>
		                    <option>intermediate</option>
		                    <option>junior</option>
		                </select>
		            </li>
				</ul>

				<ul class = "list-inline" id = "left">
                <input type="submit" name="mysubmit" value="Submit" id= "submit_activity" class = "btn btn-primary"/>
            	</ul>



            </div>


        </div>
    </template>
    <!-- </div> -->
 
    

</div>
<script src="/static/js/ext/underscore.js"></script>
<script src="static/js/view.js"></script>
<script src="static/js/site.js"></script>
</body>

</html>
